In [ ]:
#NATURAL LANGUAGE PROCESSING

In [ ]:
s = ['Congrats. you have won lottery and you can get lottery money by calling lottery number',
     'Give your bank details for lottery money',
     'lottery for sure if bank details verified']  #list

In [ ]:
type(s)

list

In [ ]:
#tokenization - break down large amounts of text into smaller tokens (paragraphs/lines to words)

In [ ]:
s[0]

'Congrats. you have won lottery and you can get lottery money by calling lottery number'

In [ ]:
s[1]

'Give your bank details for lottery money'

In [ ]:
s[2]

'lottery for sure if bank details verified'

In [ ]:
s[0].split()   #tokenization

['Congrats.',
 'you',
 'have',
 'won',
 'lottery',
 'and',
 'you',
 'can',
 'get',
 'lottery',
 'money',
 'by',
 'calling',
 'lottery',
 'number']

In [ ]:
s[1].split()   #tokenization

['Give', 'your', 'bank', 'details', 'for', 'lottery', 'money']

In [ ]:
s[2].split()   #tokenization

['lottery', 'for', 'sure', 'if', 'bank', 'details', 'verified']

In [ ]:
#count vectorizer 
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
vect = CountVectorizer(stop_words='english') #called the count vectorizer 
op = vect.fit_transform(s).toarray()  #fit and transform
op #numpy array is created 
#document term matrix

array([[0, 1, 1, 0, 3, 1, 1, 0, 0, 1],
       [1, 0, 0, 1, 1, 1, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 1, 1, 0]])

In [ ]:
import pandas as pd
df = pd.DataFrame(op,columns = vect.get_feature_names()) 
df

   bank  calling  congrats  details  ...  number  sure  verified  won
0     0        1         1        0  ...       1     0         0    1
1     1        0         0        1  ...       0     0         0    0
2     1        0         0        1  ...       0     1         1    0

[3 rows x 10 columns]

In [ ]:
#SPAM HAM DATASET 
df = pd.read_csv('https://raw.githubusercontent.com/diazonic/Machine-Learning-using-sklearn/master/Datasets/spam.tsv', sep = '\t')
df

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
...    ...                                                ...     ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[5572 rows x 4 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5572 non-null   object
 1   message  5572 non-null   object
 2   length   5572 non-null   int64
 3   punct    5572 non-null   int64
dtypes: int64(2), object(2)
memory usage: 174.2+ KB

In [ ]:
df['label'].value_counts() #highly imbalanced dataset

ham     4825
spam     747
Name: label, dtype: int64

In [ ]:
x = df['message'].values
y = df['label'].values

In [ ]:
y

array(['ham', 'ham', 'spam', ..., 'ham', 'ham', 'ham'], dtype=object)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0)

In [ ]:
x_train.shape

(4179,)

In [ ]:
x_test.shape

(1393,)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer(stop_words='english')
x_train_vect = vect.fit_transform(x_train) 
x_test_vect  = vect.transform(x_test) 
#document term matrix

In [ ]:
from sklearn.svm import SVC    #support vector classifier
model = SVC()
model.fit(x_train_vect,y_train)  #map input with output

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_pred = model.predict(x_test_vect)
y_pred

array(['ham', 'spam', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [ ]:
from sklearn.metrics import accuracy_score,classification_report
accuracy_score(y_pred,y_test)

0.9813352476669059

In [ ]:
#for a highly imbalanced dataset, not only consider accuracy_score

In [ ]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

         ham       1.00      0.98      0.99      1234
        spam       0.86      1.00      0.92       159

    accuracy                           0.98      1393
   macro avg       0.93      0.99      0.96      1393
weighted avg       0.98      0.98      0.98      1393

In [ ]:
df.tail(10)

     label                                            message  length  punct
5562   ham  Ok lor... Sony ericsson salesman... I ask shuh...      96      9
5563   ham                                Ard 6 like dat lor.      19      1
5564   ham  Why don't you wait 'til at least wednesday to ...      67      3
5565   ham                                       Huh y lei...      12      3
5566  spam  REMINDER FROM O2: To get 2.50 pounds free call...     147      3
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

In [ ]:
test = df['message'][5566]
test

'REMINDER FROM O2: To get 2.50 pounds free call credit and details of great offers pls reply 2 this text with your valid name, house no and postcode'

In [ ]:
df['label'][0]

'ham'

In [ ]:
test = vect.transform([df['message'][95]])
model.predict(test)

array(['spam'], dtype=object)

In [ ]:
#PIPIELINE - combine two or more estimators
#method 2 - countvectorizer + SVM
from sklearn.pipeline import make_pipeline 

text_model = make_pipeline(CountVectorizer(),SVC())  #pipeline created for countvectorized as well as SVC

text_model.fit(x_train,y_train)

y_pred = text_model.predict(x_test)
y_pred

array(['ham', 'spam', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [ ]:
text_model.predict([df['message'][0]])

array(['ham'], dtype=object)

In [ ]:
text_model

Pipeline(memory=None,
         steps=[('countvectorizer',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('svc',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=3,
                     gamma='scale', kernel='rbf', max_iter=-1,
                     probability=False, random_state=None, shrinking=True,
                     tol=0.001, verbose=False))],
         verbose=False)

In [ ]:
#JOBLIB dumps / creates a model 
import joblib 
joblib.dump(text_model,'spam-ham')  #saving a pipeline in a file

['spam-ham']